trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - script: |
      curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
      sudo apt-add-repository "deb https://apt.releases.hashicorp.com $(lsb_release -cs) main"
      sudo apt-get update && sudo apt-get install terraform -y
    displayName: "Install Terraform"

  - script: |
      terraform init
      terraform apply -auto-approve
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    displayName: "Terraform Init and Apply"
