trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - task: AzureCLI@2
    displayName: "Azure Login + Terraform Init/Apply"
    inputs:
      azureSubscription: 'stevens-service-conn'
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        echo "Authenticated Azure Context:"
        az account show

        echo "Getting Azure account info..."

        TENANT_ID=$(az account show --query tenantId -o tsv)
        SUBSCRIPTION_ID=$(az account show --query id -o tsv)
        ACCOUNT_NAME=$(az account show --query name -o tsv)
        ACCOUNT_USER_TYPE=$(az account show --query user.type -o tsv)

        echo "Tenant ID: $TENANT_ID"
        echo "Subscription ID: $SUBSCRIPTION_ID"
        echo "Account Name: $ACCOUNT_NAME"
        echo "Account User Type: $ACCOUNT_USER_TYPE"

        echo "Installing Terraform..."
        sudo apt-get update -y
        sudo apt-get install -y wget unzip
        wget https://releases.hashicorp.com/terraform/1.9.8/terraform_1.9.8_linux_amd64.zip
        unzip terraform_1.9.8_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
        terraform -version

        echo "Running terraform init..."
        terraform init

        echo "Running terraform apply..."
        terraform apply -auto-approve
