trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  # Azure Login using Service Connection
  - task: AzureCLI@2
    displayName: "Azure Login"
    inputs:
      azureSubscription: 'stevens-service-conn'
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        echo "Azure login completed."

        az account show

        echo "Exporting ARM_* variables for Terraform"

        export ARM_CLIENT_ID=$servicePrincipalId
        export ARM_CLIENT_SECRET=$servicePrincipalKey
        export ARM_TENANT_ID=$tenantId
        export ARM_SUBSCRIPTION_ID=$subscriptionId

        echo "ARM_CLIENT_ID=$ARM_CLIENT_ID"
        echo "ARM_TENANT_ID=$ARM_TENANT_ID"
        echo "ARM_SUBSCRIPTION_ID=$ARM_SUBSCRIPTION_ID"


  # Install Terraform
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y wget unzip
      wget https://releases.hashicorp.com/terraform/1.9.8/terraform_1.9.8_linux_amd64.zip
      unzip terraform_1.9.8_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
      terraform -version
    displayName: "Install Terraform"

  # Terraform Init
  - script: |
      echo "Running terraform init..."
      terraform init
    displayName: "Terraform Init"
    workingDirectory: $(System.DefaultWorkingDirectory)

  # Terraform Apply
  - script: |
      echo "Terraform files found:"
      ls -l *.tf || true

      echo "Running terraform apply..."
      terraform apply -auto-approve
    displayName: "Terraform Apply"
    workingDirectory: $(System.DefaultWorkingDirectory)
